
.table>tbody>tr>td, .table>tbody>tr>th, 
.table>tfoot>tr>td, .table>tfoot>tr>th, 
.table>thead>tr>td, .table>thead>tr>th {
    border-top: none;
}
.responsive-table .table-header {
    display: none;
}
.responsive-table tr {
    display: block;
}
.page-link {
    line-height: 1.05;
}
/* .responsive-table .table-header {
    background-color: #95A5A6;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0.03em;
}
.responsive-table td {
    display: flex;
    padding: 10px 0;
    flex-basis: 100%;
} */
.responsive-table .table-row {
    background-color: #fff;
    box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1);
}
.responsive-table tr {
    border-radius: 3px;
    padding: 25px 30px;
    display: block;
    justify-content: space-between;
    margin-bottom: 25px;
}
.responsive-table td {
    display: flex;
    padding: 10px 0;
    flex-basis: 100%;
}
.responsive-table td:before {
    color: #6C7A89;
    padding-right: 10px;
    content: attr(data-label);
    flex-basis: 50%;
    text-align: right;
    text-transform: capitalize;
}
.fa {
    cursor: pointer;
}
.fa-times:before {
    color: tomato;
}
.tableNav {
    float: right;
}
.page-item.active .page-link {
    /* background-color: #f8f9fa;
    border: 3px solid #00c4cc; */
    color: #b928c1;
}
.page-item.active .page-link:hover {
    /* background-color: #f8f9fa;
    border: 3px solid #00c4cc; */
    background-color: unset;
    transform: unset
}
.page-link {
    color: #354077;
    border-radius: 10px;
    transform: .2s;
}
.page-link:hover{
    color: tomato;
    font-weight: 500;
    transform: scale(1.2);
}
.page-link.disabled {
    display: none;
}
.pagination .page-item, .pagination-total .page-item {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    font-size: .9em;
}
.pagination .page-item, .pagination-total .page-item {
    color: black;
    float: left;
    padding: 8px 4px;
    text-decoration: none;
    font-size: .9em;
}
.pagination-total .page-item {
    color: #354077;
}
.pagination-total {
    padding-left: 5px;
    /* font-size: 0.87rem; */
}
@media (min-width: 767px) {
    .table>tbody>tr>td, .table>tbody>tr>th, 
    .table>tfoot>tr>td, .table>tfoot>tr>th, 
    .table>thead>tr>td, .table>thead>tr>th {
        border-top: none;
        padding: 0;
        vertical-align: unset;
    }
    .responsive-table tr {
        border-radius: .6em;
        padding: 16px 30px;
        display: flex;
        justify-content: space-between;
        margin-bottom: 16px;
        border: 1px solid #f7fafc;
        transition: transform .2s; 
    }
    .responsive-table td, .responsive-table th {
        font-size: 0.8em;
        align-self: center;
        color: #4a5568;
        flex-basis: 20%;
    }
    .responsive-table .table-header {
        background-color: #edf2f7;
        color: #2d3748;
        text-transform: capitalize;
        letter-spacing: 0.03em;
        margin-bottom: 16px;
        display: block;
        border-radius: 0.6em;
    }
    .responsive-table th, .responsive-table td {
        padding: 5px;
        padding-top: 10px;
        padding-bottom: 10px;
        text-align: center;
    }
    .responsive-table td {
        display: block;
    }
    .responsive-table td:before {
        display: none;
    }
    /* .responsive-table .table-row {
        background-color: #fff;
        box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1);
    } */
    .responsive-table tbody tr:hover{
        /* background-color: #203dac; */
        background-color: #4f29f0;
        transform: scale(1.1);
    }
    .responsive-table tbody tr:hover td{
        color: #ffffff;
    }
    .pagination .page-item, .pagination-total .page-item {
        padding: 8px 16px;
    }
}
@media (min-width: 900px) {
    .responsive-table tbody tr:hover{
        /* background-color: #203dac; */
        background-color: #4f29f0;
        transform: scale(1.07);
    }
}
