.navbar {
    height: 5em;
    background-color: #ebeff5;
    /* position: sticky;
    top: 0;
    z-index: 1020; */
    position: fixed;
    top: 0;
    z-index: 1020;
    right: 0;
    width: calc(100% - 4em);
    justify-content: flex-end;
}
nav .logo {
    z-index: 999;
}
.navbar-icons {
    display: inline-flex;
    margin-top: -23px;
    position: relative;
    top: 10px;
}
.navbar-icons li {
    margin-left: 10px;
    margin-right: 10px;
}
.search-box {
    align-self: center;
}
span.brand {
    display: none;
}
/* @media (min-width: 42em) {
    .navbar {
        width: calc(100% - 5em);
    }
} */
@media (min-width: 68em) {
    .navbar {
        width: calc(100% - 15em);
    }
    span.brand {
        display: block;
    }
}