.headerBrand {
    height: 5em;
    position: fixed;
    background-color: #411dd4;
    z-index: 800;
    top: 0;
}
/* Layout */
.s-layout {
    display: flex;
    width: 100%;
    min-height: 100vh;
    margin-top: 5em;
}
.s-layout__content {
    display: block;
    justify-content: center;
    align-items: center;
    flex: 1;
    background-color: #ebeff5
}
.headerBrand {
    width: 4em;
}
.s-layout__content {
    margin-left: 4em;
    padding: 20px;
    padding-top: 1em;
}
#analytics {
    width: 100%;
    height: auto;
    background-color: #ffffff;
    border-radius: 2em;
}
.inner-main {
    padding: 20px;
}
button:focus {
    outline: unset;
}
/* @media (min-width: 42em) {
    
} */
@media (min-width: 68em) {
    .s-layout__content {
        margin-left: 15em;
    }
    .headerBrand {
        width: 15em;
        padding: 1.6em;
    }
}
@media (max-width: 42em) {
    .s-layout__content {
        margin-left: 0;
    }
}